*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  margin: 20px 145px 0px 145px;
}
.primary-nav {
  display: flex;
  justify-content: space-between; /*left group on left, right group on right  */
  align-items: center;
  margin-bottom: 30px;
}
.nav-left,     /*left & right sides*/
.nav-right {
  display: flex;
  align-items: center;
}

.nav-right li {
  padding: 14px;
}
.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0px;
  color: #2f281e;
}
.nav-btns {
  display: flex;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}
.signin-btn {
  width: 102px;
  height: 46px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #173a56;
  border-color: #bcd0e5;
  border-style: solid;
  border-width: thin;
}
.signup-btn {
  width: 110px;
  height: 46px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #ff9900;
  border: none;
}
.nav-links a {
  text-decoration: none; /* remove underline */
  color: inherit;
}
.nav-links li a:hover {
  background-color: #ff9900;
  padding: 5px;
  transition: 0.2s ease-in-out;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 63px;
}

.text-blockOne h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  line-height: 1.2;
  color: #2f281e;
  text-align: left;
}
.text-blockOne p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.6;
  color: #544837;
  text-align: left;
  margin: 30px 0px 45px;
}

.btn-block {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.get-btn,
.now-btn {
  width: 175px;
  height: 53px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  background-color: #ff9900;
  color: #ffffff;
  border: none;
}
.watch-block {
  display: flex;
  align-items: center;
  gap: 9px;
}
.watch-block img {
  width: 20px;
  height: 17px;
  align-self: center;
  position: relative;
}
.watch-block a {
  align-self: center;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: #ff9900;
}

section:nth-of-type(2) .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.text-blockTwo {
  max-width: 539px;
  width: 100%;
}
.text-blockTwo h4,
.text-blockThree h4,
.text-blockFour h4,
.text-blockFive h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: normal;
  color: #2f281e;
}

.text-blockTwo h4 {
  text-align: center;
  margin-top: 110px;
}

.process-block {
  display: flex;
  justify-content: center;
  margin: 54px 0px 34px;
}
.card {
  align-content: flex-start;
  text-align: left;
  padding: 46px;
}
.card img {
  width: 51px;
  height: 50px;
}
.card-text h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  line-height: normal;
  color: #2f281e;
  margin-bottom: 13px;
}
.card-text,
.text-blockThree,
.text-blockFour,
.text-blockFive p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
  color: #544837;
}
section:nth-of-type(3) .container {
  margin-top: 146px;
  justify-content: center;
  align-items: center;
  gap: 104px;
}

.text-blockThree h4,
.text-blockFour h4,
.text-blockFive h4 {
  text-align: left;
  margin-top: 3px;
  margin-bottom: 22px;
}
.text-blockThree h6,
.text-blockFive h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
  color: #2f281e;
  margin-bottom: 12px;
  margin-top: 25px;
}
section:nth-of-type(4) .container {
  margin-top: 101px;
  align-items: center;
  gap: 100px;
}
.points-blockFourth {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
  gap: 9px;
}
.points-blockFourth img {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}
.points-blockFourth p {
  margin: 0;
}

section:nth-of-type(5) .container {
  margin-top: 146px;
  justify-content: center;
  align-items: center;
  gap: 82px;
}
/* figures sizes */
.image-One {
  width: 605px;
  height: 496px;
}
.image-Two {
  width: 520px;
  height: 574px;
}

.image-Three {
  width: 535px;
  height: 521px;
}

.image-Four {
  width: 542px;
  height: 609px;
}

hr {
    border: 1px solid #BCD0E5;
    margin-top: 146px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Logo stays top */
  padding: 40px 60px;
  gap: 50px;
}

.footer-logo img {
  width: 185px;
  min-height: 29px;
}

/* Links middle */
.footer-links {
  display: flex;
  align-self: flex-end; 
  gap: 175px; /* space between the 2 navs */
  margin-left: 126px; /* push links away from logo */
  margin-top: 33px;
}

/* Links style */
.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  text-decoration: none;
  color: #544837;
  font-size: 16px;
  line-height: 2.2;
}

/* Newsletter right */
.footer-email {
  display: flex;
  align-self: flex-end; /* pushes newsletter down */
}

/* Newsletter form */
.footer-email form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-email input {
  padding: 20px;
  width: 325px;
  height: 48px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
}

.footer-email button {
  width: 131px;
  height: 39px;
  background: #ff9900;
  border: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;

}
