*,
*::before,  
*::after {
  box-sizing: border-box;
}
body {
display: flex;
justify-content: center;
align-items: center;
margin: 20px 145px 0px 145px;
 
}
.primary-nav {
  display: flex;
  justify-content: space-between; /*left group on left, right group on right  */
  align-items: center;
 
}
.nav-left,     /*left & right sides*/
.nav-right {
  display: flex;
  align-items: center;
  
}

.nav-left img{
    margin-right: 320px;
}
.nav-right li {
  padding: 14px;
}
.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0px;
  color: #2F281E;
}
.nav-btns {
  display: flex;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}
.signin-btn{
    width: 102px;
    height: 46px;
    background-color: #FFFFFF;
    color: #173A56;
    border-color: #BCD0E5;
    border-style: solid;
    border-width: thin;
}
.signup-btn {
   width: 110px;
   height: 46px;
   color: #FFFFFF;
   background-color: #FF9900;
   border: none;
}
.nav-links a {
  text-decoration: none; /* remove underline */
  color: inherit;
}