*,
*::before,  
*::after {
  box-sizing: border-box;
}
body {
display: flex;
justify-content: center;
align-items: center;
 
}

.primary-nav {
  display: flex;
  justify-content: space-between; /*left group on left, right group on right  */
  align-items: center;
  margin: 20px 145px 0px 145px;
}

.nav-left,     /*left & right sides*/
.nav-right {
  display: flex;
  align-items: center;
  
}
.nav-right ul {
    margin-left: 321px;
}
.nav-right li {
  padding: 14px;
}
.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0px;
  color: #2F281E;
}
.nav-btns {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}
.nav-links a {
  text-decoration: none; /* remove underline */
  color: inherit;
}